version: "3.8"
services:
  app:
    build:
      context: .
    depends_on:
      - postgres
      - redis
    ports:
      - "5000:5000"
    volumes:
      - ./app:/usr/src/app
    networks:
      - backend
    container_name: backend-nodejs-container

  postgres:
    image: postgres
    ports:
      - "5432:5432"
    env_file:
      - ./app/.env
    volumes:
      - ./db-data/:/var/lib/postgresql/data
      - ./db_init:/docker-entrypoint-initdb.d
    networks:
      - backend
    container_name: db-postgres-container

  redis:
    image: "bitnami/redis:latest"
    env_file:
      - ./app/.env
    ports:
      - "6379:6739"
    networks:
      - backend

networks:
  backend:
