<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Recovery</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        text-align: center;
        padding: 50px;
        font-family: Arial, sans-serif;
      }

      h1 {
        color: #333;
      }

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Password Recovery</h1>
      <p>Your password has been reset.</p>
      <p>Check your email for your newly generated password.</p>
      <p>Make sure to change your password once you are log in.</p>
      <a href="https://crypthub-app.vercel.app/?login=true">
        <button>Go to Login Page</button>
      </a>
    </div>
  </body>
</html>
